<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/css-layout.css">
    <link rel="stylesheet" href="../css/css-view-climate.css">
    <link href="../css/hamburgers.css" rel="stylesheet">

    <title>Inicio</title>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    <header id="cabecera">
        <a href="../index.html"><img class="logo-gruop" src="../img/logos/PNG/DK_PilesX.png" alt="logo_dkpiles dkpiles logos"></a>

        <ul class="" id="menu">
            <span id="access-movil" class="fa fa-user fa-4x"><a href="../views/view-login-register.html">Acceder</a></span>
            <li> <a href="../index.html"><i class="fa fa-home"></i> Inicio</a> </li>
            <li><a href="../views/view-aboutDKPiles.html"><i class="fa fa-info-circle"></i>  Sobre nosotros</a></li>
            <li>
                <a href="../views/view-multimedia.html"> <i class="fa fa-picture-o"></i> Multimedia</a>
            </li>
            <li><a href="./view-noticeAndEvents.html"><i class="fa fa-calendar-check-o"></i> Noticias y eventos</a> </li>
            <li> <a href="./view-contact.html"><i class="fa fa-address-book-o"></i> Contactanos</a></li>
            <li><a href="./view-climate.html"><i class="fa fa-thermometer-half"></i> El tiempo</a></li>

            <label id="img-user-default"><a href="../views/view-login-register.html"><i class="fa fa-user fa-2x"></i> <br> Acceder</a></label>
        </ul>

        <button class="hamburger hamburger--collapse " type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
    </header>

    <main>

        <h1>Dkpiles Meteo</h1>

        <h3 id="day">.</h3>

        <section id="meteo-piles">
            <script id="wg_fwdg_504236_100_1612905116948">
                (function(window, document) {
                    var loader = function() {
                        var arg = ["s=504236", "m=100", "mw=46", "uid=wg_fwdg_504236_100_1612905116948", "wj=knots", "tj=c", "waj=m", "odh=0", "doh=24", "fhours=240", "hrsm=2", "vt=forecasts", "lng=es", "idbs=1", "ts=1", "p=WINDSPD,GUST,SMER,TMPE,FLHGT,CDC,APCP1s,RATING"];
                        var script = document.createElement("script");
                        var tag = document.getElementsByTagName("script")[0];
                        script.src = "https://www.windguru.cz/js/widget.php?" + (arg.join("&"));
                        tag.parentNode.insertBefore(script, tag);
                    };
                    window.addEventListener ? window.addEventListener("load", loader, false) : window.attachEvent("onload", loader);
                })(window, document);
            </script>
        </section>
        <p>Aqui tienes mas foros sobre la informacion del clima de hoy y pronosticos del dia siguiente. Solo pulsa sobre la imagen para dirigirte al sitio. </p>
        <section id="meteo-blogs">
            <article>
                <h3>METEOGANDIA</h3>
                <input type="image" link="http://www.meteogandia.com/" src="../img/png/+ más información en meteogandia.com - Brave 09_02_2021 21_57_18.png" alt="meteogandia">
            </article>
            <article>
                <h3>METEOCLIMATIC</h3>
                <input type="image" link="https://www.meteoclimatic.net/perfil/ESPVA0300000003700D?screen_width=1098" src="../img/png/Meteoclimatic - Brave 21_02_2021 23_20_52.png" alt="Meteoclimatic">
            </article>
            <article>
                <h3>PREDICCIONES POR MUNICIOPIOS</h3>
                <a href="http://www.aemet.es/es/eltiempo/prediccion/municipios?modo=and&orden=n&tipo=sta&str=piles">Pincha aqui para buscar</a>
                <div id="prediccion">
                    <script type='text/javascript' src='http://www.aemet.es/es/eltiempo/prediccion/municipios/launchwidget/piles-id46195?w=g4p01110001ovmffffffw1000z408x4f86d9t95b6e9r1s8n2'></script><noscript><a target='_blank' style='font-weight: bold;font-size: 1.20em;' href='http://www.aemet.es/es/eltiempo/prediccion/municipios/piles-id46195'>El Tiempo. Consulte la predicción de la AEMET para Piles</a></noscript>
                </div>
            </article>
        </section>
        <h2>WEBCAMS</h2>
        <section id="webcams">
            <a target="_blank" href="https://www.comunitatvalenciana.com/es/webcams">Pulsa aqui para ver mas camaras.</a>
            <div id="cam-piles">
                <div id="hora">
                    <!-- Dadle estilo vosotros -->
                    01-02-2021 11:57:30
                </div>
                <div id="webcam-visor" style="width: 100%;">
                    <img style="position:absolute; z-index:127; display:none;" id="popimage0" src="http://turiscam.comunitatvalenciana.com/piles.jpg?0.6469837288851448" alt="" />
                    <img style="position:absolute; z-index:131; display:none;" id="popimage1" src="http://turiscam.comunitatvalenciana.com/piles.jpg?0.1481255725516435" alt="" />
                    <img style="position:absolute; z-index:132; display:none;" id="popimage2" src="http://turiscam.comunitatvalenciana.com/piles.jpg?0.27504339971864056" alt="" />
                </div>
            </div>
        </section>
        <h2>APPs DEL CLIMA </h2>
        <section id="meteo-apps">
            <div>
                <img src="../img/logos/230x0w.webp" alt=""><br>
                <input link="https://apps.apple.com/es/app/balearia-port-meteo/id1086456215?l=es" type="image" src="../img/icons/appstore_es.png" alt="appstore_es">
                <input link="https://apkpure.com/es/balearia-port-meteo/com.blaasoft.baleariaport" type="image" src="../img/icons/googleplay.png" alt="googleplay">
            </div>
            <input link="https://www.windguru.cz/apps.php" type="image" src="../img/logos/w.svg" alt="windguru">
            <input style="background-color: black;" link="https://es.wisuki.com/app" type="image" src="../img/icons/wisuki-282.png" alt="wisuki">
        </section>
    </main>

    <footer>
        <a href="">DK Piles 2021</a>
        <span><a href="">Aviso Legal</a> || <a href="">Contacto</a></span>
        <section class="red-socials">
            <span>Polígono 02, 44, 46712 Piles, Valencia</span>
        </section>
    </footer>
    <section id="cookies">
        <p>Este sitio hace uso de cookies propias y de terceros para mejorar tu experiencia y cuantificar tus interacciones con nuestro sitio. Ninguna de estas tecnologias compromete tu informacion de caracter personal. Si te parece bien da click en "Aceptar"
            y si deseas saber mas sobre las cookies da click en "Saber mas".
        </p>
        <button class="answer">Aceptar</button> <button class="info">Saber mas.</button>
    </section>

    <script src="../js/script-index.js"></script>
    <script src="../js/script-cookies.js"></script>
    <script src="../js/script-webcam.js"></script>
    <script src="../js/script-view-climate.js"></script>

</body>

</html>