<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/css-layout.css">
    <link href="../css/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/css-style-view-about-us.css">
    <title>Sobre el club</title>
</head>

<body>
    <header id="cabecera">
        <a href="../index.html"><img class="logo-gruop" src="../img/logos/PNG/DK_PilesX.png" alt="logo_dkpiles dkpiles logos"></a>

        <ul class="" id="menu">
            <span id="access-movil" class="fa fa-user fa-4x"><a href="../views/view-login-register.html">Acceder</a></span>
            <li> <a href="../index.html"><i class="fa fa-home"></i> Inicio</a> </li>
            <li><a href="../views/view-aboutDKPiles.html"><i class="fa fa-info-circle"></i>  Sobre nosotros</a></li>
            <li>
                <a href="../views/view-multimedia.html"> <i class="fa fa-picture-o"></i> Multimedia</a>
            </li>
            <li><a href="./view-noticeAndEvents.html"><i class="fa fa-calendar-check-o"></i> Noticias y eventos</a> </li>
            <li> <a href="./view-contact.html"><i class="fa fa-address-book-o"></i> Contactanos</a></li>
            <li><a href="./view-climate.html"><i class="fa fa-thermometer-half"></i> El tiempo</a></li>

            <label id="img-user-default"><a href="../views/view-login-register.html"><i class="fa fa-user fa-2x"></i> <br> Acceder</a></label>
        </ul>

        <button class="hamburger hamburger--collapse " type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
    </header>

    <main>

        <a id="arrow-up" href="#cabecera"><i class="fa fa-arrow-up"></i></a>

        <h1 id="uno">Informacion y preguntas frecuentes</h1>
        <h3>Club deportivo</h3>
        <p>En nuestra zona de Piles, tras el considerable grupo de amantes y praticantes de kitesurf, y ante las dificultades presentadas por las prohibiciones y continuas quejas de los bañistas , decidimos formar el actual club D.K.P. Tarea difícil, como
            lo son todas, las que hay que empezar de cero, desde la nada ; este grupo de amigos, con la iniciativa de legalizar una zona , formamos una Directiva compuesta por</p>
        <li>Laia Lanaquera Donet (Presidenta)</li>
        <li>Vicent Savall Ausina (Vicepresidente)</li>
        <li>Carlos Viana Fernández (Secretario)</li>
        <li>Andreu Guillen Ausina (Tesorero)</li>
        <li>Isaac Parres Prefasi (Primer vocal)</li>


        <img src="../img/photos/zip1/playa.jpg" alt="kitesurf playa-piles playa">
        <h3>Requisitos para navegar</h3>
        <p>Para disfrutar de este deporte con seguridad debes tener en cuenta estos requitos:</p>

        <li>Tener el seguro en vigor. (Esto en caso de accidentes)</li>
        <li>Ser mayor de edad o Tener la aturizacion de tu tutor.</li>
        <li>Nivel básico (entrada y salida por el cananl)</li>
        <li>Acatar las normas y condiciones que dispone el club</li>

        <span>Si eres menor de edad descarga la aturizacion haciendo click <a href="../doc/AUTORIZACION_MENOR_DE_EDAD.pdf" target="_blank" download="autorizacion_menores_de_edad.pdf">Aqui</a></span>

        <h3>¿Que son los socios?</h3>
        <p>Los socios son un gran apoyo para el club, donde tambien puedes practica este deporte que tanto nos apasiona con tranquilidad en la zona de piles.</p>

        <h3>¿Que se necesita para hacerme socio?</h3>
        <p>Envianos un correo a DKPiles@gmail.com con los siguientes datos:</p>

        <li>Nombre completo</li>
        <li>Fecha de nacimiento</li>
        <li>DNI</li>
        <li>Telefono</li>
        <li>Email de contacto</li>

        <p>Tambien puedes completar el siguiente formulario. <a href="">Aqui.</a> Y nos pondremos en contacto contigo!!</p>


        <img src="../img/photos/zip3/IMG_20200802_201820.jpg" alt="grupo club_dkpiles convivencia">
    </main>
    <footer>
        <a href="../index.html">DK Piles 2021</a>
        <span><a href="">Aviso Legal</a> || <a href="">Contacto</a></span>
        <div class="red-socials">
            <span>Polígono 02, 44, 46712 Piles, Valencia</span>
        </div>
    </footer>

    <script src="../js/script-index.js"></script>
</body>

</html>